<div class="container">
    <div class="row ">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://syndetics.com/index.aspx?isbn=9780316258678/LC.GIF&client=springshare" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">The Hotel Nantucket</h5>
                          <p class="card-text">Elin Hilderbrand</p>
                          <label for="" class="form-label"></label>
                          <button class="btn btn-primay">buy now</button>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://syndetics.com/index.aspx?isbn=9780593133231/LC.GIF&client=springshare" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">An Immense World</h5>
                          <p class="card-text">ED yong</p>
                          <label for="" class="form-label"></label>
                          <button class="btn btn-primay">buy now</button>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://syndetics.com/index.aspx?isbn=0385549326/LC.GIF&client=springshare" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sparring partners</h5>
                          <p class="card-text">John Grisham</p>
                          <label for="" class="form-label"></label>
                          <button class="btn btn-primay">buy now</button>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://syndetics.com/index.aspx?isbn=9780593183199/LC.GIF&client=springshare" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">The house across the lake </h5>
                          <p class="card-text">Riley sager</p>
                          <label for="" class="form-label"></label>
                          <button class="btn btn-primay">buy now</button>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://syndetics.com/index.aspx?isbn=9780525559474/LC.GIF&client=springshare" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">The midnight library</h5>
                          <p class="card-text">Matt haig</p>
                          <label for="" class="form-label"></label>
                          <button class="btn btn-primay">buy now</button>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://syndetics.com/index.aspx?isbn=9781501171345/LC.GIF&client=springshare" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">The last thing he told me</h5>
                          <p class="card-text">Laura dave</p>
                          <label for="" class="form-label"></label>
                          <button class="btn btn-primay">buy now</button>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://syndetics.com/index.aspx?isbn=0316392456/LC.GIF&client=springshare" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Happy-go-lucky</h5>
                          <p class="card-text">David sedaris</p>
                          <label for="" class="form-label"></label>
                          <button class="btn btn-primay">buy now</button>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://syndetics.com/index.aspx?isbn=9780063037328/LC.GIF&client=springshare" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Finding me</h5>
                          <p class="card-text">Viola davis</p>
                          <label for="" class="form-label"></label>
                          <button class="btn btn-primay">buy now</button>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://syndetics.com/index.aspx?isbn=0425286649/LC.GIF&client=springshare" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Meant to be</h5>
                          <p class="card-text">Emily giffin</p>
                          <label for="" class="form-label"></label>
                          <button class="btn btn-primay">buy now</button>
                        </div>
                      </div>
                </div>
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <div class="card" >
                        <img src="https://syndetics.com/index.aspx?isbn=9781250278197/LC.GIF&client=springshare" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Night work</h5>
                          <p class="card-text">Nora Roberts</p>
                          <label for="" class="form-label"></label>
                          <button class="btn btn-primay">buy now</button>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>